@tailwind portal-base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FilsonPro";
  src: url("/fonts/filson-pro/FilsonProRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// ----------Importação das fontes e ícones---------------------------------------------------------------------------------------

/* Imports: Material icons - Material Symbols Outlined - fonts Roboto e Inter*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

// ----------Reset CSS--------------------------------------------------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: portal-baseline;
  background: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background: #fff;
  color: #000;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

ol,
ul,
menu {
  list-style: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  box-shadow: none;
  appearance: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

input {
  border-radius: 0.5rem;
  border: solid 0.0625rem #d5d7da;
  height: 2.75rem;
  padding-left: 0.875rem;
  color: #181d27;
}

select {
  border-radius: 0.5rem;
  border: solid 0.0625rem #d5d7da;
  height: 2.75rem;
  padding-left: 0.875rem;
  color: #181d27;
}

textarea {
  border-radius: 0.5rem;
  border: solid 0.0625rem #d5d7da;
  height: 7.125rem;
  padding-left: 0.875rem;
  color: #181d27;
}

a {
  color: inherit;
  text-decoration: none;
  background: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0;
}

[hidden] {
  display: none !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

